*.pyc
models/regression/pickled
models/regression/plot
models/regression/regressors_info.txt
realworld_experiments/manual_exploration/droplet_number_size/experiments
realworld_experiments/manual_exploration/temperature_analysis/experiments
realworld_experiments/random_params
realworld_experiments/random_goal
realworld_experiments/interest_tree
realworld_experiments/grid_search
realworld_experiments/reach
realworld_experiments/tests
simulated_experiments/random_params
simulated_experiments/random_goal
simulated_experiments/interest_tree
simulated_experiments/grid_search
simulated_experiments/reach
realworld_experiments/dropfactory.log
tune_explauto_parameters/old
tune_explauto_parameters/lwlr_parameters/plot
/tune_explauto_parameters/interest_models_parameters/interest_tree_results/
/tune_explauto_parameters/interest_models_parameters/plot
