*.pyc
models/regression/pickled
models/regression/plot
models/regression/regressors_info.txt
realworld_experiments/random_params/0
simulated_experiments/random_params/0
simulated_experiments/cmp_interest_models
